.main-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right {    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ongoing {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcomeMessage {
    color: purple !important;
}

.ongoing-container {
    gap: 10px;
    width: 500px;
    height: 350px;
    position: relative;
}

.ongoing-list {
    gap: 10px;
    width: 100%;
    border: 2px solid purple;
    border-radius: 10px;
    bottom: 0px;
    position: absolute;
    height: 80%;
    overflow-y: scroll;
}

.ongoing-list::-webkit-scrollbar {
    display: none;
}   

.ongoingHeading {
    color: purple !important;
    position: absolute;
    left: 10px;
    top: 10px;
}

.featuredContent {
    width: 500px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 10px;
    overflow-y: scroll;
}

.featuredContent::-webkit-scrollbar {
    display: none;
}

.featuredContentProfileImage {
    border-radius: calc(50%);
}

.featuredContentProfileName {
    color: black;
    font-weight: bold;
}

.featuredContentProfileDescription {
    color: black;
    font-size: medium;
}